@import 'variables';

#carouselIndicators {
	width: 100%;
	margin: 0px;
	.carousel {
		&-inner {
			min-width: 100%;
			display: flex;
			margin: 0px !important;
		}
		&-item {
			max-height: $slide-height;
			transition: 0.8s all !important;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top center;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&-slide-desktop {
			background-size: contain !important;
		}
		&-slide-mobile {
			@media (min-width: $md) {
				display: none;
			}
			&.hideMobile {
				display: none !important;
			}
		}
		@media (max-width: $md) {
			&-inner {
				min-height: $slide-height-mobile;
			}
			&-item {
				min-height: $slide-height-mobile;
			}

			&-slide-desktop {
				&:not(.hideMobile) {
					display: none;
				}
				background-size: cover !important;
			}
		}
	}
}
