@import 'variables';
.carousel-inner {
	background: red;
	min-width: 100%;
	min-height: $slide-height;
	display: flex;
}
#carouselIndicators {
	width: 100%;
	margin: 0px;

	@media (max-width: $md) {
		margin: 0px 10px;
		.item-desktop {
			display: none;
		}
		.carousel-inner img {
			width: 100%;
			height: 100%;
		}
	}

	@media (min-width: $md) {
		.item-mobile {
			display: none;
		}
	}
	.carousel-item {
		transition: 0.8s all !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		min-height: $slide_height;
		.hideMobile {
			@media (max-width: $md) {
				display: none;
			}
		}
		.mobile {
			@media (min-width: $md) {
				display: none;
			}
		}
		&.item-mobile {
			background-size: contain !important;
		}
	}

	.sliderContainer {
		overflow: hidden;
	}
}
