// Fonts
// ---------
// opensans

@font-face {
	font-family: 'font-regular';
	src: url('../../inc/fonts/NotoSansTC-Regular') format('otf');
	font-display: swap;
}
@font-face {
	font-family: 'font-light';
	src: url('../../inc/fonts/NotoSansTC-Light') format('otf');
	font-display: swap;
}
@font-face {
	font-family: 'font-bold';
	src: url('../../inc/fonts/NotoSansTC-Black') format('otf');
	font-display: swap;
}
// @font-face {
// 	font-family: 'opensans-italic';
// 	src: url('../../inc/fonts/OpenSans-Italic') format('otf');
// 	font-display: swap;
// }
