// Fonts
// ---------
// opensans

@font-face {
	font-family: 'font-regular';
	src: url('../../inc/fonts/SourceSansPro-Regular') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'font-light';
	src: url('../../inc/fonts/SourceSansPro-Light') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'font-bold';
	src: url('../../inc/fonts/SourceSansPro-Black') format('ttf');
	font-display: swap;
}
// @font-face {
// 	font-family: 'opensans-italic';
// 	src: url('../../inc/fonts/OpenSans-Italic') format('ttf');
// 	font-display: swap;
// }