@import 'typography';

$prim-color: white;
$prim-color-lighter: red;
$sec-color: #3a2452;
$sec-color-lighter: #3a2452;
$bg-color: black;

//SIZES
$px12: 0.75rem; //12px
$px14: 0.875rem; //14px
$px16: 1rem; //16px
$px18: 1.125rem; //18px
$px20: 1.25rem; //20px
$px22: 1.375rem; //22px
$px24: 1.5rem; //24px
$px28: 1.75rem; //28px
$px30: 1.875rem; //30
$px32: 2rem; //32px
$px35: 2.188rem; //32px
$px40: 2.5rem; //40px
$px45: 2.813rem; //45px
$px50: 3.125rem; //50px
$px60: 3.75rem; //60px

// ==================================
// BREAK POINTS BASE BOOSTRAP
// ==================================
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// ==================================
// Slide
// ==================================
$slide-height: 600px;

// ==================================================
// Fonts
// ==================================================
$font-regular: 'font-regular', sans-serif;
$font-light: 'font-light', helvetica, Arial, sans-serif;
$font-bold: 'font-bold', sans-serif;
//$font-italic: 'opensans-italic', helvetica, Arial, sans-serif;

///line-height:
$lh_sm: $px16;
$lh_md: $px40;
$lh_lg: $px60;

//Paddings
$p_sm: 2.25rem 0px;
$p_md: 4.25rem 0px;
$p_lg: 6.25rem 0px;
$p_xl: 9.5rem 0px;

//gaps
$gap_sm: $px16;
$gap_md: $px20;
$gap_lg: $px40;

//font SIzes
$f_menu: $px14;
$f_sm: $px12;
$f_md: $px18;
$f_paragraph: $px18;
$f_paragraph_title: $px20;
$f_lg: $px30;


///line-height
$lh-sm: $px30;
$lh-md: $px40;
$lh-lg: $px50;

//Margin
$m-sm: $px16;
$m-md: $px30;
$m-lg: $px32;
$m-l: $px30;
$mb-titles: $px30; //30px
$m-block: 6.25rem auto;
$m-headline: 6.25rem auto;



$f_h1: $px40;
$f_h2: $px30;
$f_h3: $px22;
$f_h4: $px20;

h1 {
	font-size: $f_h1; //60px
	line-height: $lh_lg;
}
h2 {
	font-size: $f_h2;
}
h3 {
	font-size: $f_h3;
}
h4 {
	font-size: $f_h4;
}
.sub-title {
	font-size: $px24;
}

.block {
	margin: $m-block;
}
.block-padding {
	padding: $p_lg;
}

// ==================================================
// mixing
// ==================================================
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

@mixin line-after {
	content: '';
	display: block;
	position: absolute;
	right: -30px; //depend of the gap
	top: 50%;
	height: 100%;
	transform: translateY(-50%);
	border-left: 1px solid #c4c4c4;
}

@mixin ul-checkmark {
	list-style: none;
	line-height: $lh_md;
	ul {
		list-style-type: none !important;
	}

	li {
		position: relative;
		&:before {
			left: -30px;
			position: absolute;
			top: 2px;
			content: url(../../inc/images/list-style-hexagon-check.svg);
		}
	}
}
