@import 'variables';
@import 'global';
@import 'slide';
@import 'menu';
/*-----------------------------------------------------------------------------------*/
/*  HOME
/*-----------------------------------------------------------------------------------*/
.home {
	.livecasino {
		background-color: red;
	}
	p {
		color: #8e6c1f;
		font-size: $px14;
	}
}
